:root {
  --blue: #3f4cff;
  --gray: #1c1c1c;
  --deep-blue: #02030792;
  --text-shadow: 0 0 50px rgba(255, 255, 255, 0.589);
  --text-shadow-hover: 0 0 42px white;
  --box-shadow-hover: 0 0 30px white;
  --glass-background: #02030740;
  --glass-background-hover: rgba(90, 90, 90, 0.336);
}

* {
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* z-index: -20; */
}

body {
  margin: 0;
  padding: 0;
  background-color: #00000000;
  min-height: 500px;
}

#digimon-logo {
  width: 100%;
  height: auto;

  /* (B) RECOMMENDED - LIMIT MAXIMUM WIDTH */
  max-width: 180px;
}

#watermark {
  top: 50%;
  left: calc(50% - 125px);
  position: fixed;
  /* z-index: -10; */
  opacity: 90%;
  background: #0015ff00;
}

.gallery {
  margin: auto;
  width: 100%;
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  /* grid-template-columns: repeat(6, minmax(0, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(220px, 0.8fr));
}

.card {
  /* height: 23rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100px;
  max-width: 220px;
  /* height: 29rem; */
  /* margin: 1rem; */
  color: #ff870b;
  border-radius: 20px;
  border-color: 1px solid var(--gray);
  background: #0015ff00;
  overflow: hidden;
  transition: color 0.7s, box-shadow 0.7s;
}

.digimon-img {
  /* width: 100%; */
  /* width: 100%; */
  /* width: 25%; */
  max-width: 250px;
  /* max-height: 11rem; */
  padding: 1rem;
  background: #0015ff00;
  /* margin: ; */
}

span {
  /* background: #0015ff00; */
  background: var(--glass-background);
}

h3,
p,
b {
  /* background: #0015ff00; */
  background: var(--glass-background);
}
.footer-card,
h3,
p,
span {
  /* background: #0015ff00; */
  background: var(--glass-background);
}

.card:hover {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 15px white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.479);
}

/* .flagInfo {
  height: 100%;
  min-width: 200px;
} */

/**** FOOTER ****/
footer {
  width: 100%;
  position: relative;
  /* top: calc(18vh); */
  bottom: 0;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--glass-background);
  /* display: block; */
  text-align: center;
  color: var(--gray);
  transition: 0.6s;
  margin-top: 5px;
}

footer:hover {
  color: aliceblue;
  text-shadow: var(--text-shadow-hover);
}

span {
  background: rgba(0, 0, 255, 0);
}

#du-logo {
  width: 20px;
  /* opacity: 90%; */
  background: rgba(0, 0, 255, 0);
}

/**** /FOOTER ****/

@media screen and (max-width: 516px) {
  .card {
    max-width: 100%;
  }
  .digimon-img {
    max-width: 100%;
  }
}
